@font-face {
  font-family: "Avenir";
  src: url("Avenir.ttf");
}

html {
  background-color: white;
  font-family: "Avenir";
  display: flex;
}

body {
  margin: 0;
  overflow: hidden;
}

article {
    display: flex;
    align-items: center; /* Centrer verticalement */
    justify-content: flex-start; /* Aligner à gauche */
    gap: 20px; /* Espacement entre les éléments */
}

article img {
  flex-shrink: 0;
}

header {
  display: flex;
}

select {
  width: 200px;
}

#logo {
  position: absolute;
  left: 1%;
}

#page-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top : 0;
}

#page-subtitle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top : 60px;
}

#header-content {
  position: absolute;
  display: grid;
  align-items: center; /* Centrer verticalement */
  grid-gap: 5px;
  grid-template-columns: repeat(2, 200px);
  text-align: center;
  top : 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

#main-content {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 75%);
}

footer{
  border-top:solid;
  border-color: black;
  border-width: 1px;

  bottom : 0;
  position: absolute;
  
  width: 100%;
  text-align: center;
  font-size: 0.8em;
}

/* collapse */
.collapse {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  padding: 0px 10px;
  border-radius: 10px;
}

.open {
  border : 1px solid #ccc;
  max-height: 200px; /* Vous pouvez ajuster cette valeur */
}